<div class="booyah-box col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-m-6 col-m-offset-3">
	<h2 style="text-align: center">Edit Your Place</h2>
	<br />
	<%= simple_form_for @place do |f| %>
		<%= f.input :name %>
		<%= f.input :address %>
		<%= f.input :description %>
		<br />
		<div class="pull-right">
			<%= f.submit 'Update', :class => 'btn btn-primary' %>
			<%= link_to 'Delete', place_path(@place), :method => :delete, :data => {:confirm => 'Are you sure you want to PERMANENTLY delete this place? WARNING: This action cannot be undone.'}, :class => 'btn btn-danger' %>
			<%= link_to 'Cancel', root_path, :data => {:confirm => 'Are you sure you don\'t want to update this place?'}, :class => 'btn btn-warning' %>
		</div>
	<% end %>
</div>