	<div class="booyah-box col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-m-8 col-m-offset-2">
		<h1><%= @place.name %></h1>
		<em><%= @place.address %></em><br /><br />
		<p><%= @place.description %></p><br />
		<p>Overall rating: <%= rating_for @place, "overall" %></p>

		<% if @place.latitude.present? && @place.longitude.present? %>
		  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
		  <script>
		    function initialize() {
		      var myLatlng = new google.maps.LatLng(<%= @place.latitude %>, <%= @place.longitude %>);
		      var mapOptions = {
		        zoom: 13,
		        center: myLatlng
		      };
		      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

		      var marker = new google.maps.Marker({
		        position: myLatlng,
		        map: map,
		        title: 'Hello World!'
		      });
		    }

		    google.maps.event.addDomListener(window, 'load', initialize);

		  </script>

		  <div id="map-canvas"></div>
		<% end %>

		<br />

		<% if @place.user.present?%>
			<small>Submitted by <%= @place.user.email %></small>
		<% end %>
		<div class="pull-right">
			<% if current_user && current_user == @place.user %>
				<%= link_to 'Edit', edit_place_path(@place), :class => 'btn btn-primary' %>
			<% end %>
		</div>
		<br /><br />
		<hr>
		<div class="clear"></div>
		<div class="text-center">
		<h2>Comments</h2>
		</div>
		<br />
		<!-- Button trigger modal -->
		<div class="text-center">
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  <span class="glyphicon glyphicon-comment"></span> Add a Comment
</button>
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
  <span class="glyphicon glyphicon-camera"></span> Add a Photo
</button>
		</div>

<!-- Comment Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add a Comment</h4>
      </div>
        <%= simple_form_for @comment, :url => place_comments_path(@place) do |f| %>
        <div class="modal-body">
			<%= f.input :message %>
<!--stars input-->
			Rating: <%= rating_for_user @place, current_user, "overall", :star => 5 %>
		</div>
			<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<%= f.submit "Submit Comment", :class => 'btn btn-primary' %>
			</div>
		<% end %>
    </div>
  </div>
</div>

<!-- Photo Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add a Photo</h4>
      </div>
        <%= simple_form_for @photo, :url => place_photos_path(@place) do |f| %>
        <div class="modal-body">
        	<%= f.file_field :picture, :label => 'Select a photo:'  %>
        	<br />
			<%= f.input :caption %>
		</div>
			<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<%= f.submit "Add a Photo", :class => 'btn btn-primary' %>
			</div>
		<% end %>
    </div>
  </div>
</div>

<br />
			
			<div class="collapse" id="showcomments">
			<% @place.comments.each do |comment| %>
			<div class="col-xs-12 col-sm-6">
				<br />
				<blockquote>
<!--stars blockquote-->
						<%= rating_for @place, "overall" %>
						 -
					<%= comment.message %>
					<small><%= comment.user.email %></small>
				</blockquote>
			</div>
			<% end %>
			<div class="clear"></div>
			<br /><br />
		</div>
		<div class="text-center">
		<a class="btn btn-warning" data-toggle="collapse" data-target="#showcomments" id="showComments"><span class="glyphicon glyphicon-collapse-down"></span> Show Comments</a>
	</div>
<!--button jquery -->
	<script>
		$('#showComments').click(function(){
		    console.log($(this).text());
		    if($(this).html().trim() == '<span class="glyphicon glyphicon-collapse-down"></span> Show Comments'){
		        $(this).html('<span class="glyphicon glyphicon-collapse-up"></span> Hide Comments');
		    }else{
		         $(this).html('<span class="glyphicon glyphicon-collapse-down"></span> Show Comments');
		    }
		});
	</script>
<hr />
	<div class="text-center">
		<h2>Photos</h2>
	</div>
	<br />
	<% @place.photos.each do |photo| %>
		<div class="text-center col-xs-12 col-sm-6">
			<%= image_tag photo.picture %>
			<br />
			<div class="captionbox">
				<%= photo.caption %>
			</div>
			<br />
		</div>
	<% end %>
	<div class="clear"></div>

</div>